header {
  height: 80px;
  .header-wrapper {
    padding: 18px 0;
    @include flex-content-between;
    .header-left {
      @include flex-items-center;
      .logo-wrapper {
        margin-left: -25px;
        padding-right: 10px;
      }
      .nav-list {
        @include flex-items-center;
        padding-top: 10px;
        .nav-item {
          padding: 0 20px;
        }
      }
    }
    .joinUs {
      @include flex-items-center;
      .joinUs-link {
        padding-right: 11px;
        color: $primary-color;
      }
    }
  }
}