header {
  height: 80px;
  .header-wrapper {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-left {
      display: flex;
      align-items: center;
      .logo {
        padding-right: 10px;
      }
      .nav-list {
        display: flex;
        align-items: center;
        padding-top: 10px;
        .nav-item {
          padding: 0 20px;
        }
      }
    }
    .joinUs {
      display: flex;
      align-items: center;
      .joinUs-link {
        padding-right: 11px;
        color: $primary-color;
      }
    }
  }
}