.common-content-title {
  font-family: 'Playfair Display';
  font-size: 44px;
  line-height: 58px
}
.common-title {
  font-family: 'Playfair Display';
  color: $primary-color;
  padding-right: 16px;
  font-size: 16px;
  line-height: 28px;
}
.next-page {
  padding-right: 9px;
}