* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: unset;
}
ul,li {
  list-style: none;
  padding-left: unset;
  margin-bottom: unset;
}

a {
  text-decoration: none;
  color: inherit;
}
svg {
  display: block;
  max-width: 100%;
}
img {
    display: block;
    max-width: 100%;
}
h2,h3,h4,h5,h6 {
  margin-bottom: unset;
}
.row {
  margin-right: unset;
}